<h4>reviews</h4>

					<blockquote ng-repeat="review in product.reviews">
					<p>	<b>Stars: {{review.stars}}</b></p>
						<p>{{review.body}} </p>
						<p><cite>by: {{review.author}} on {{review.createdOn | date}}</cite></p>
					</blockquote>
				
					<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate> <!-- on submit send in current product we're iterating through --> 
					<!-- turn off built in browser validation with novalidate --> 

					<blockquote>
						<p>	<b>Stars: {{reviewCtrl.review.stars}}</b></p>
						<p>{{reviewCtrl.review.body}} </p>
						<p><cite>by: {{reviewCtrl.review.author}}</cite></p>
					</blockquote>
					
					<div class="row">
					<div class="col-md-6">
					<fieldset class="form-group">
						<select ng-model="reviewCtrl.review.stars" ng-options="stars for stars in [5,4,3,2,1]" title="stars" class="form-control" required>
							<option value="">Rate The Product</option>
						</select>
					</fieldset>
					
					<fieldset class="form-group">
						<textarea ng-model="reviewCtrl.review.body" class="form-control"cols="10" rows="1" placeholder="Write a short review..." title="Review" required></textarea>
					</fieldset>

					<fieldset class="form-group">
						<input type="email" ng-model="reviewCtrl.review.author" required>
						<input type="submit" class="btn btn-primary pull-right" value="submit">
					</fieldset>
					</div>
					</div>
					</form>